.pageFrame {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: relative;
}
header{
  display: flex;
  flex-direction: row;
  height: 10vh;
  padding: 8px 40px;
  gap: 5px;
  width: 100vw;
  background: rgb(59, 57, 116);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 4px 26px;
  border-radius: 0px;
  align-items: center;
}

@media (max-width: 391px) {
  .pageFrame {
    flex-direction: column;
  }
}
